In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv('cars.csv')

In [13]:
df.head()

,name,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel

In [14]:
df['Company'] = df.name.apply(lambda x: x.split(' ')[0])

In [15]:
df.head()

,name,year,Price,kms_driven,fuel_type,Company
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel,Ford

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   year        892 non-null    object
 2   Price       892 non-null    object
 3   kms_driven  840 non-null    object
 4   fuel_type   837 non-null    object
 5   Company     892 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [17]:
df.year.unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [20]:
df = df[df.year.str.isnumeric()]

In [22]:
df.year = df.year.astype(int)

In [24]:
df[df.Price == 'Ask For Price']

,name,year,Price,kms_driven,fuel_type,Company
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol,Maruti
5,Ford EcoSport Titanium 1.5L TDCi,2015,Ask For Price,"59,000 kms",Diesel,Ford
69,I want to sell my car Tata Zest,2017,Ask For Price,NaN,NaN,I
85,I want to sell my car Tata Zest,2017,Ask For Price,NaN,NaN,I
138,Maruti Suzuki Alto 800 Lxi,2018,Ask For Price,"28,028 kms",Petrol,Maruti
295,Maruti Suzuki Swift LDi,2010,Ask For Price,"52,000 kms",Diesel,Maruti
304,Tata Indica eV2 LS,2017,Ask For Price,"84,000 kms",Diesel,Tata
388,Maruti Suzuki Alto 800 Lxi,2018,Ask For Price,"24,000 kms",Petrol,Maruti
449,Maruti Suzuki Zen Estilo LXI Green CNG,2011,Ask For Price,"16,000 kms",Petrol,Maruti
503,Hyundai Xcent Base 1.1 CRDi,2015,Ask For Price,"1,80,000 kms",Diesel,Hyundai
511,Hyundai Xcent S 1.2,2015,Ask For Price,"35,000 kms",Petrol,Hyundai
524,Toyota Innova 2.0 V,2009,Ask For Price,"15,574 kms",Diesel,Toyota
567,Datsun Go Plus T O,2016,Ask For Price,5 kms,Petrol,Datsun
613,Mahindra KUV100 K8 D 6 STR,2018,Ask For Price,"7,500 kms",Diesel,Mahindra
619,Maruti Suzuki Alto LX BSII,2002,Ask For Price,"56,000 kms",Petrol,Maruti
634,Hyundai Elite i20 Sportz 1.2,2015,Ask For Price,"49,500 kms",Petrol,Hyundai
763,Tata Nexon,2019,Ask For Price,0 kms,Petrol,Tata
822,Hyundai Venue,2019,Ask For Price,"7,000 kms",Diesel,Hyundai
826,Renault Lodgy,2016,Ask For Price,"20,000 kms",Diesel,Renault
848,Maruti Suzuki Alto 800 Lx,2019,Ask For Price,"1,500 kms",Petrol,Maruti
854,Volkswagen Vento Highline Plus 1.5 Diesel,2015,Ask For Price,"38,900 kms",Diesel,Volkswagen
859,Toyota Innova 2.0 G1 Petrol 8seater,2019,Ask For Price,"4,000 kms",Petrol,Toyota
882,Maruti Suzuki Alto 800 Select Variant,2015,Ask For Price,"70,000 kms",Petrol,Maruti

In [25]:
df = df[df.Price != 'Ask For Price']

In [27]:
df.Price = df.Price.str.replace(',','').astype(int)

In [28]:
df.head()

,name,year,Price,kms_driven,fuel_type,Company
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,"45,000 kms",Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,425000,40 kms,Diesel,Mahindra
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,"28,000 kms",Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,"36,000 kms",Diesel,Ford
6,Ford Figo,2012,175000,"41,000 kms",Diesel,Ford

In [30]:
df['kms_driven'] = df['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [32]:
df = df[df['kms_driven'].str.isnumeric()]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   year        817 non-null    int32
 2   Price       817 non-null    int32
 3   kms_driven  817 non-null    object
 4   fuel_type   816 non-null    object
 5   Company     817 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.3+ KB

In [34]:
df['kms_driven'] = df['kms_driven'].astype(int)

In [35]:
df[df['fuel_type'].isna()]

               name  year   Price  kms_driven fuel_type Company
132  Toyota Corolla  2009  275000       26000       NaN  Toyota

In [36]:
df = df[~df['fuel_type'].isna()]

In [38]:
df.name = df.name.str.split().str.slice(start=0,stop=3).str.join(' ')

In [39]:
df.head()

                     name  year   Price  kms_driven fuel_type   Company
0     Hyundai Santro Xing  2007   80000       45000    Petrol   Hyundai
1     Mahindra Jeep CL550  2006  425000          40    Diesel  Mahindra
3       Hyundai Grand i10  2014  325000       28000    Petrol   Hyundai
4  Ford EcoSport Titanium  2014  575000       36000    Diesel      Ford
6               Ford Figo  2012  175000       41000    Diesel      Ford

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   year        816 non-null    int32
 2   Price       816 non-null    int32
 3   kms_driven  816 non-null    int32
 4   fuel_type   816 non-null    object
 5   Company     816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [41]:
df = df.reset_index(drop=True)

In [43]:
df.to_csv('cleaned_data.csv')